/* .color {
   
    background-image: radial-gradient(closest-side, rgba(255, 230, 0, 0.21), #e7bbbb);
    position: absolute;
   
} */
.circle {
    width: 1000px;
    height: 400px;
    background: linear-gradient(to left, #d1d0f7, #f7f7ff);
    filter: blur(80px);
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media (max-width: 768px) {
    .circle {
        display: none;
    }
}